#nav, #footer {
  display: none;
}

#page {
  border: 0px;
}

#header {
  height: 60px;
  color: black;
  background: none;
  border-bottom: 8px solid black;
}
#header #address a {
  color: inherit;
}

td.first {
  text-align: right;
  font-weight: bold;
  width: 8em;
  vertical-align: top
}
td.first:after {
  content: ": ";
}
td {
  vertical-align: bottom;
}

a { text-decoration: none; }
#content a:link:after { 
  content:" (" attr(href) ") ";
  font-style: italic;
}

/* reshow print only items */
#work-fourv-repeat {display: block;}
#open_source_print {display: block; page-break-before: always;}
#open_source {display: none; }

/* Print alignment */
#work-fourv-repeat { display: inherit; page-break-before: always }
#work-waterfall {page-break-before: always}
#infoblox_inc {page-break-before: always}
