#nav, #footer {
  display: none;
}

#page {
  border: 0px;
}

#header {
  height: 60px;
  color: black;
  border-bottom: 8px solid black;
}

td.first {
  text-align: right;
  font-weight: bold;
  width: 8em;
  vertical-align: top
}
td.first:after {
  content: ": ";
}
td {
  vertical-align: bottom;
}