<h1><a name="open_source">Open Source Contributions</a></h1>

<ul>
    <li><a href="https://github.com/jkamenik/saml_idp">SAML IdP</a> - SAML IdP Gem to convert a Rails app into a SAML IdP.
        <ul>
            <li>An app including the gem is <a href="https://github.com/WaterfallFMS/saml_idp">here</a>.</li>
            <li>A SAML client reference app <a href="https://github.com/WaterfallFMS/saml_client">here</a>.</li>
        </ul>
    </li>
    <li><a href="https://github.com/jkamenik/rubot">Rubot</a> - A chat bot to do simple things</li>
    <li><a href="https://github.com/jkamenik/simple-arel-rails">Simple AREL</a> - Entends Rails / ActiveModel to include "not", "or", and compisons like "&gt;", "&lt;"
    <li><a href="https://github.com/jkamenik/statsd">statsd</a> - Network deamon to agregate statistics</li>
    <li><a href="https://github.com/jkamenik/parallel">Parallel</a> - Run things in parallel in ruby</li>
    <li><a href="https://github.com/jkamenik/carrierwave_direct">Carrierwave Direct</a> - Allow direct file uploads directly to Amazon S3.</li>
    <li><a href="https://github.com/jkamenik/Bunco">Bunco</a> - A simple score card for the Bunco dice game.</li>
</ul>
