<h1><a name="summary">Summary</a></h1>
<p>I am a Full Stack Engineer and Technical Lead with 5+ year of
  leadership experience, and 15+ year of technical experience.  I have
  worked on everything from embedded systems to SASS.  From service
  companies to product companies.  I lead teams to success by
  coaching, mentoring, and leading by example.  I use Agile principles
  (Scrum, Kanban) to iterate to success.  I am known for my creative
  problem solving but am also pragmatic: finding the simplest often
  overlooked solution to every problem.
</p>
<ul>
    {% for item in site.data.summary %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
