<h1><a name="summary">Summary</a></h1>
<p>I am a Full Stack Engineer and Technical Lead focusing on DevOps with 5+ year of leadership experience, and 15+ year of technical experience.  I have  worked on everything from embedded systems to SASS.  From service companies to product companies.  I lead by example: coaching, mentoring, applying agile principles to ensure team is successful.  I am known for pragmetic creative problem solving.
</p>
<ul>
    {% for item in site.data.summary %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
