<h2>Lookingglass Cyber Solutions, Inc.</h2>

<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Head of Release Engineering</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> April 2014 - Current </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 1001 S. Kenwood Ave.<br> Baltimore, MD 21224 </td>
  </tr>
</table>

<p>Architected and implemented a release pipeline capable of deploying
  a full OS update in &lt;2 hours, including automated QA.</p>

<p>Implemented the trasition from ArchLinux to RHEL.</p>

<p>Designed and patented (pending) a mechanism for self forming clusters.</p>

<p>Designed and implemented a 3 Tier technical support process.</p>

<p>Implemented a report work backend which took network telemtry data
and comparied it against global thread intel data.  Through custom SQL
brought the 10+ minute queries down to &lt;30s without any loss in
fidelity.</p>

<p>Wrote a CLI parser in GoLang what would translate Nfcapd files into
bidirectional network telemetry files and import them into our product.</p>
