<h2>Waterfall Software, Inc.</h2>
<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Head of engineering / Team lead</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> October 2011 - Current </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 6404 Ivy Lane<br>Greenbelt, MD 20770 </td>
  </tr>
</table>

<p>Architected and implemented high availability SaaS platform for Multi-unit organizations using Amazon EC2/S3 and Heroku services.  Originially a single Rails app individually deployed and configured per customer.  Now a set of fully Multi-tenant SAML SP apps.</p>

<p>Instituted a deployment process to ensure &lt; 1 min downtime.</p>

<p>Instituted a code style process to ensure style opinions are collectively decided without delaying development / deployment.</p>

<p>Implemented a full CMS for managing websites at the corporate as well as location level.</p>

<p>Implemented E-Commonerse engine for the CMS.  Including an admin interface to managing products, categories, related products, sales / promotions.</p>

<p>Implemented an internal training module to facilitate corporate compliance.  Includes ability to create classrooms containing related content, documents, and videos.  An assessment builder to create / grade performance of individuals.  Logs performance of individuals for later auditing.</p>

<p>Implemented forum to facilitate open communication within multi-unit orinazations.  Including the ability to flag inappropriate posts.</p>

<p>Setup and maintained Continuous Integration server for all software.  Originally CIJoe on a spare machine, then Hudson on Amazon EC2 instance, finally using Tddium.</p>

<p>Provided tech support to all clients.</p>