<div class="company-header">
  <span class="company">Patton Electronic Co.</span>
  -
  <span class="position">Senior Software Engineer</span>
  <span class="date">Janurary 2001 - December 2007</span>
</div>

<ul>
  <li>Productized two IP DSLAM devices using a custom build embedded Linux OS.</li>
  <li>Created an embedded version of Python used as a CORBA management plane and Web based UI to scale management of hundreds of edge devices.</li>
  <li>Developed a Java GUI to visualize and setup an H110 monoplex backplane for Patton's "Blade" line of products.</li>
</ul>
