<h2 id="patton_electronics_co">Patton Electronics Co.</h2>

<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Senior Software Engineer/Project Lead/Build Manager</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> 2001-2007 </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd>7622 Rickenbacker Dr.<br>Gaithersburg, MD 20879-4773</td>
  </tr>
</table>

<p><span class="heading">Project Lead/Senior Software Engineer</span>, 2005-2007<br>
  Productized two IP DSLAM devices with Product Line Management.
  Defined and reviewed the feature-set requirements of embedded Linux OS
  for devices.  Defined product software testing requirements before the
  Alpha release of the OS, including internal verification and external
  validation.  Validated technical advice to ensure timely product
  release.  Defined manufacturing test procedures and guided the product
  prototype.  Wrote technical, but jargon free, user manual input.
  Provided support for all stages of the product live cycle.</p>

<p>Designed and co-implemented the management plane for Linux using
  CORBA (originally written after-hours as an open-source project).
  Designed a web-based UI in Python using CGI/FCGI, HMTL templates, CSS
  for layout and formatting, and degradable Javascript.  Trained
  engineering staff in Python/CORBA (omniORB).  Designed embedded
  regression testing framework in Python.</p>

<p><span class="heading">Software Engineer</span>, 2001-2005<br>
  Developed web-based UI on a VxWorks-based VOIP product line using
  the company's proprietary scripting language.  Developed an external
  Regression Testing framework for data communication
  products. Developed a 100% pure Java single-user NMS capable of
  simultaneously managing more than 200 network nodes.  This SQL
  database back-end NMS acquired status and configured devices via
  SNMP, FTP, and TFTP.  Developed the TFTP server for the pSOS kernel
  (System V variant). Developed stateful NAPT for the pSOS kernel as
  Posix MUX.</p>
