<div class="company-header">
  <span class="company">Infoblox, Inc.</span>
  <span class="formerly">(formerly Netcordia Inc.)</span>
  -
  <span class="position">Senior Software Engineer</span>
  <span class="date">December 2007 - February 2011</span>
</div>

<ul>
  <li>Created an Web Management Interface using ExtJS / Ruby on Rails for the NetMRI product.  Including a JS graphing library to visualize real-time ethernet metrics.  And BIRT reports targeting ISO 27002 and PCI compliance.  Full unit test coverage using Rspec and Jasmine with CruiseControl.rb for continuous integration.</li>
  <li>Wrote data-consolidation engine to consolidate up to 50 NetMRIs into a single managed topology for geo-located policy enforcement</li>
  <li>Added device support to many devices to NetMRI via SNMP, terminal emulation via Telnet or SSH, and screen scraping.  Devices include Riverbed Network Monitors, Cisco and Juniper Routers.</li>
</ul>
