<h2 id="infoblox_inc">Infoblox Inc. <font style="font-size:smaller;">(previously Netcordia Inc.)</font></h2>
<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Senior Software Engineer</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> December 2007 - February 2011 </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 2431 Solomon&rsquo;s Island Rd, Suite 201<br>Annapolis, MD 21401-3730 </td>
  </tr>
</table>
Converted obsolete Java web interface into a Rich Internet Application using ExtJS and Ruby on Rails.<br><br>

Created a Live Interface Viewer that showed a real-time line chart of a single interface selected by the user.<br><br>

Converted many common UI elements into defined Ext components: Wizard panel showing any number of forms (one at a time) with Next and Previous buttons, a Cron scheduling panel with a look similar to that of MS Outlook Event adder, a ComboTree that is like a ComboBox but the drop-down list is a floating tree instead of a mere menu of options.<br><br>

Added Rspec to allow for Test Driven Design by enabling Quality Assurance and Product Management to define requirements that are directly tested to.  Set up a CruiseControl.rb server to allow the automatic integration testing of the RIA.<br><br>

Re-factored the data-consolidation engine to enable true-to-life scalability testing and to enable consolidating multiple NetMRIs into a single topology model, allowing a single NetMRI to manage as many as 50 subordinate NetMRIs.<br><br>

Designed and implemented business intelligence reports (BIRT plug-in for Eclipse) for ISO 27002 and PCI compliance.<br><br>

Integrated Riverbed device support into the product. Required finding Riverbed MIB and decoding them into NetMRI-usable information including: system, interface, and environmental data.  Required logging in via SSH or telnet and mapping running and startup config via Expect; then post process configs to remove control characters and paging artifacts.<br><br>
