<div class="company-header">
  <span class="company">Waterfall Software, Inc.</span>
  -
  <span class="position">Head of Engineering</span>
  <span class="date">October 2011 - April 2014</span>
</div>

<ul>
  <li>Architected and implemented high availability Micro-services based SaaS platform using AWS and Heroku services and SAML for SSO.  Full continuous deployment achieving multiple weekly deployments with &lt;1m downtime.</li>
  <li>Designed and built custom full PCI compliant E-Commerce engine w/ inventory management and promotions engine, CMS, Forum, training module w/ tests.</li>
  <li>Integrated 3rd party Video editing and steaming software to drive TVs at physical locations.  Designed the manufacturing process to drop-ship PocketTV devices configured with connection and auth details so location owners just needed to plugin the devices.</li> 
</ul>
