<h2 id="work-waterfall">Waterfall Software, Inc.</h2>
<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Head of Engineering</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> October 2011 - April 2014 </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 6404 Ivy Lane<br>Greenbelt, MD 20770 </td>
  </tr>
</table>

<p>Architected and implemented high availability SaaS platform for Multi-unit organizations using Amazon EC2/S3 and Heroku services.  Originally a single Rails app individually deployed and configured per customer.  Now a set of separate multitenant applications interconnected with SAML.</p>

<p>Instituted a deployment process to ensure &lt; 1 min downtime.</p>

<p>Instituted a code style process to ensure style opinions are collectively decided without delaying development or deployment.</p>

<p>Implemented a full CMS for managing websites at the corporate as well as location level.</p>

<p>Implemented E-Commerce engine for the CMS.  Including an admin interface to managing products, categories, related products, sales / promotions.</p>

<p>Implemented an internal training module to facilitate corporate compliance.  Includes ability to create classrooms containing related content, documents, and videos, and an assessment builder to create / grade performance of individuals.  Logs performance of individuals for later auditing.</p>

<p>Implemented a forum to facilitate open communication within multi-unit organizations, including the ability to flag inappropriate posts.</p>

<p>Set up and maintained a Continuous Integration server for all software.  Originally CIJoe on a spare machine, then Hudson on Amazon EC2 instance, currently using Tddium.</p>

<p>Provided tech support to all clients.</p>
