<h2 id="work-boeing" class="on-page-header">Boeing</h2>

<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Senior Software Engineer / Technical Lead</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> February 2011 - October 2011 </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 2553 Housely Rd<br>Annapolis, MD 21401-6768 </td>
  </tr>
  <tr>
    <td class="first even">Employed By</td>
    <td class=even>Edge professional Services</td>
  </tr>
</table>

<p>Designed and built a dashboard to manage a data-gathering product
for the intelligence community.  The product uses Rails to provide a
web interface to system services Riak and Apache, and configuration of
the data-gathering software.</p>

<p>Instituted Agile TDD/BDD development methodology.  Reduced sprints
from four to two weeks, enabling more focused execution and planning.
Ensured completion of all committed-to work.  Led the customer demos
after each Sprint.</p>

<p>Set up and maintained a Continuous Integration server to ensure a
stable production branch.  Created an IRC channel for the team and
configured Github and the CI server to announce changes to the
channel.  Added Rspec for unit testing, Cucumber for integration
testing, and Capybara/Selenium for in-browser javascript testing.</p>

<p>Provided team training on various development topics including
proper TDD, refactoring, standard Git usage, and advanced techniques
including the Git-SVN bridge, basic and advanced Javascript
techniques, and how Coffeescript eliminates common beginner mistakes
in Javascript.</p>

<p>Instituted a peer code-review process supported by Github.  This
improved code readability, and quality.  It became a means of
non-intrusive knowledge sharing.  Personally paired with each team
member to fill knowledge gaps and increase coding confidence.</p>
