<h2>FourV Systems</h2>

<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Head of DevOps / Principal Engineer</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> Feburary 2016 - Current </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 8 Market Place<br> Suite 400<br> Baltimore, MD 21202 </td>
  </tr>
</table>

<p>Designed and helped migrate the existing FourV Greyspark product from custom built AMIs hardcoded to the AWS ecosystem to docker containers running within Kubernetes capible of running in AWS, Azure, GCE, or on-prem OpenStack and VMWare vSphere servers.  <a href="https://en.wikipedia.org/wiki/Infrastructure_as_Code">IaC</a> priniples are used such that both the patform and product deployers are distrubted as docker images which take simple YAML configuration files to drive the deployment state.</p>

<p>Developed a self monitoring ElasticSearch cluster to support Greypsark's event exploration feature.  The cluster is fully multi-tenant using OpenID Connect JWT tokens to provide data isolation.  It uses best practices to ensure it can dynamically expand to pedibytes of storage.  Each ES node has a custom developed watch dog which looks for known instabilities (for example, data nodes having too few masters) and performs the corrective actions as needed.</p>

<p>Designed and built a next-gen Kubernetes monitoring solution based on Prometheus and Grafana, which monitors all our next-gen products and Cloud infrastructure in easy to act on Dashboards and Alerts.  The implementation is based on <a href="https://docs.google.com/document/d/199PqyG3UsyXlwieHaqbGiWVa8eMWi8zzAn0YfcApr8Q/edit#heading=h.fs3knmjt7fjy">Google's SRE monitoring philosophy</a>.  Migrating a previously built and maintained monitoring solution based on Sensu to the new monitoring system.</p>

<p>Designed and help migrate the Continuous Integration pipelines for all repos and products from a hard to maintain Jenkins install to Bitbucket Pipelines.  Add a PR process with code coverage reviews
2.)	Designed and implemented the Continuous Integration (Dev testing) and Continuous Delivery (QA testing and release) pipelines using tools like shell scripting, docker containers, Jenkins, Bitbucket Pipelines, Artifactory, and Codacy.

<p>Productized a log aggrigation solutions based on Syslog-ng capible of handling 50K messages per second ingesting into FourV's Greyspark product.  Designed and implmeneted a retry and backoff method which guarantees no messages accepted by the product can be lost.  Designed and built a release pipeline that produces an AMI for deployment in the Cloud, or a minified OVA for deployment on-prem, as well as an upgrade package that existing products can use to field upgrade.</p>

<p>Designed the release versioning and branching solution that works across all 20+ repos used by FourV.  The versioning is based on symantic versioning with an optional hotpatch indicator and release cadidate indicator.  The branching soltuion is similar to <a href="http://nvie.com/posts/a-successful-git-branching-model/">GitFlow</a> but that takes into account versioning across multiple respitories.</p>
