<div class="company-header">
  <span class="company">Lookingglass Cyber Solutions, Inc.</span>
  -
  <span class="position">Head of Release Engineering</span>
  <span class="date">April 2014 - Feburary 2016</span>
</div>

<p>Created a GoLang CLI command suite to translate Nfcapd files into
  bidirectional network telemetry format that could be ingested and
  compared against global threat intel data.</p>

<p>Implemented a reporting back-end which took network telemetry data
  and compared it against global threat intel data.  Through custom
  SQL and Postgres tricks brought a 10+ minute queries down to
  &lt;30s without any loss in fidelity.</p>

<p>Designed and implemented a release pipeline using Jenkins and dockers containers that builds the full product, installs it, tests it, makes it available in &lt;2 hours.  Included a full automated system test suite to test our next-gen analytical platform using Selenium and custom Clojure.  Provisions a cluster (erases data, install test OS) loads test data, and runs behavioral and back-end tests.</p>

<p>Designed and implemented a 3 Tier technical support process taking the average time to resolution from weeks to less then a day.</p>
