<div class="company-header">
  <span class="company">Boeing</span>
  <span class="formerly">(via Edge Professional Services)</span>
  -
  <span class="position">Senior Software Engineer</span>
  <span class="date">February 2011 - October 2011</span>
</div>

<ul>
  <li>Instituted Agile TDD/BDD development methodology including Scrum, Pair programming, Code Reviews, and Continuous Integration.  Reduced release cycle from quarterly to two weeks, enabling more focused execution and planning.  Ensured completion of all committed-to work.</li>
  <li>Designed and built a Ruby on Rails based dashboard to visual top-secret data from security community, utilizing NoSQL to store data.  Used Ruby to develop data-gathering software to fill dashboard with non-top-secret data.</li>
</ul>