<h2>Lookingglass Cyber Solutions, Inc.</h2>

<table class=education>
  <tr>
    <td class="first odd">Position</td>
    <td class=odd>Head of Release Engineering</td>
  </tr>
  <tr>
    <td class="first even">Dates</td>
    <td class=even> April 2014 - Current </td>
  </tr>
  <tr>
    <td class="first odd">Address</td>
    <td class=odd> 1001 S. Kenwood Ave.<br> Baltimore, MD 21224 </td>
  </tr>
</table>

<!-- <p>Designed and patented (pending) a mechanism for self forming -->
<!--   clusters running arbitrary code.</p> -->

<!-- <p>Designed and overseeing the trasition from ArchLinux to RHEL.</p> -->

<p>Designed and implemented a release pipeline using Jenkins and Shell
  Scripting that runs units on 15+ separate repos inside dockers
  containers. Builds a full system image (base OS, repos, and configs)
  as a netboot image, tar archive, and docker container in &lt;12
  minutes.  Makes the build available to QA for testing, runs it
  through the automated system tests, make it available to devs (if
  passing) and notifies everyone via Email and HipChat.  Total time
  from dev commit till potential customer installation is 2 hours.</p>

<p>Designed and implemented a full automated system test suite to test
  our next gen analytics platform using Selenium and custom Clojure.
  Provisions a cluter (erases data, install test OS) loads test data,
  and runs behavioral and backend tests.</p>

<p>Designed and implemented all QA processes including a 3 Tier
  technical support process taking the average time to resolution
  from weeks to less then a day.</p>

<p>Taught basic and advanced Git and Github usage, basic
  BDD/TDD behaviors and advanced testing techniques, GoLang
  primer, and Ansible primer.</p>

<p>Designed and implemented an automated system test suite to test
  previous gen product using ruby, selenium, and highly modified RSpec.
  Suite would check the software basic behaviors, data is within
  tolerance, and email nightly report to dev.</p>

<p>Implemented a reporting backend which took network telemtry data
  and compared it against global threat intel data.  Through custom
  SQL and Postgres tricks brought a 10+ minute queries down to
  &lt;30s without any loss in fidelity.</p>

<p>Created a GoLang CLI command suite to translate Nfcapd files into
  bidirectional network telemtry format that could be ingested and
  compared against global threat intel data.  Worked around a flaw in
  GoLang 1.2 x-compile behavior by spinning up vagrant VMs for the
  target OS, performing a native compile, and bundling the compiled
  executables together.</p>
